h3 Itens da lista
.list-itens.check-list
  .linha.list-title
    .item.marcador
    .item
      strong Nome
    .item
      strong Preço
    .item
      strong Editar
    .item
      strong Remover
  each item, index in list.itens
    - var checked = item.checked ? 'checked' : '';
    .linha
      .item.marcador
        .checkbox(data-id=item._id, class=checked)
          i.fa.fa-check
      .item
        strong #{item.itemRefe.name}
      .item
        strong R$#{item.itemRefe.price}
      .buttons
        .item
          button.action.edit-item(data-id=item.itemRefe._id)
            .fa.fa-edit
        .item
          button.remove.remove-item(data-id=item.itemRefe._id)
            .fa.fa-trash
